<div class="show-chat-content" style="padding-top: 10%;" data-controller="chatroom-subscription" data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
  <% @other_user = @chatroom.participants.find{|participant| participant.user != current_user} %>
  <a href=<%= user_path(@other_user.user.id) %>>
  <h1><%= @chatroom.name %>
    <div class="chat-avatar">
      <% if @other_user.user.photo.key %>
        <%=cl_image_tag @other_user.user.photo.key%>
      <% else %>
        <img src="https://png.pngtree.com/png-vector/20190114/ourlarge/pngtree-vector-avatar-icon-png-image_313572.jpg">
      <% end %>
    </div>
  </h1>
  </a>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>

    <%= render "messages/message", message: message%>

    <% end %>
  </div>


  <%= simple_form_for [@chatroom, @message],
    html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "chat-input" } do |f|
  %>
  <div>
    <%= f.input :content,
      label: false,
      placeholder: "Aa",
      wrapper_html: {class: "chatbar flex-grow-1"}
    %>
  </div>

  <div>
    <%= f.submit "Send", class: "button-custom-chatroom" %>
  </div>
  <% end %>

</div>
