<div class="booking-container bg-grid">
  <h1>My bookings</h1>
    <% @bookings.each do |booking| %>
      <div class="booking-box">
        <div>
          <a href=<%=new_item_booking_path(booking.item_id)%>>
            <%= cl_image_tag "#{booking.item.photo.key}", crop: :fit, class: 'booking-item-pic' %>
            <h5><%= booking.item.name %></h5></a>
          <a href=<%=new_booking_review_path(booking.id)%>>
            <p class="review-button"><strong>Add review</strong></p></a>
        </div>
          <div class="booking-info">
          <p><strong>Status: </strong><%= booking.status %></p>
          <p><strong>Returning date: </strong><br>
          <%= booking.start_date + booking.amount_of_days %></p>
          <p><strong>Owner: </strong> <a href=<%= user_path(booking.item.user)%>> <%= booking.item.user.first_name %> </a></p>
        </div>
      </div>
    <% end %>
</div>
