<div class="image-container">
  <%= cl_image_tag @item.photo.key, crop: :fit %>
</div>
<div class="container" data-controller="pricing">
  <div class="container-item">
    <div class="item-show-card">
      <div class="item-information">
        <h1><%= @item.name %></h1>
        <small><i><p>Condition: <%= @item.condition %></p></i></small>
      </div>
      <div class="item-tokens" data-pricing-target="price" data-price="<%= @item.price %>">
        <h1><%= @item.price %> <i class="fa-solid fa-coins"></i></h1>
      </div>
    </div>
    <div class="item-description">
      <small><p><%= @item.description %></p></small>
    </div>
    <div class="owner-card">
      <div class="user-card">
        <div class="user-picture">
          <a href=<%= user_path(@item.user.id) %>>
            <% if @item.user.photo.key %>
            <%= cl_image_tag @item.user.photo.key, {class: "avatar", crop: :fit}%>
            <% else %>
              <img src="https://png.pngtree.com/png-vector/20190114/ourlarge/pngtree-vector-avatar-icon-png-image_313572.jpg" class='avatar'>
            <% end %>
          </a>
        </div>
        <div class="user-information">
          <a href=<%= user_path(@item.user.id) %>>
            <%= @item.user.first_name %> <%= @item.user.last_name %>
          </a>
          <p class="stars">
            <% if @item.user.average_rating.present? %>
              <% (1..5).to_a.each do |star| %>
                <% if star <= @item.user.average_rating %>
                  <i class="fa-solid fa-star"></i>
                <% else %>
                  <i class="fa-regular fa-star"></i>
                <% end %>
              <% end %>
            <% else %>
              <% 5.times do %>
                <i class="fa-regular fa-star"></i>
              <% end %>
            <% end %>
          </p>
        </div>
      </div>
      <div class="user-message">
       <h1><%= link_to @chatroom.present? ? chatroom_path(@chatroom) : chatrooms_path(user_id:@item.user.id), data:{turbo_method: @chatroom.present? ? :get : :post} do %><i class="fa-solid fa-envelope"></i><%end%></h1>
      </div>
    </div>
  </div>
  <br>
  <div class="map-on-item-show">
    <div class="map"
          style="width: 100%; height: 200px;"
          id="map"
          data-controller="map"
          data-map-markers-value="<%= @marker.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <div>
    <%= simple_form_for [@item, @booking] do |f| %>
      <div class= "form-text-booking">
        <%= f.input :start_date, as: :date, required: true, input_html: {class: "input-bookings"} %>
        <%= f.input :amount_of_days, as: :integer, required: true, placeholder: 'e.g. 2', input_html: {class: "input-bookings", data: { pricing_target: "days", action: "change->pricing#pricePreview"}} %>
        <div class="booking-preview">
          <span data-pricing-target="total"></span>
        </div>
        <div class="booking-button">
        <%= f.submit "Borrow", { class: "button-yellow borrow", style: 'align: center;'}%>
        </div>
      </div>
    <% end %>
  </div>
<div class="review-container" style="margin: 15px;">
  <h2><strong>Reviews</strong></h2>
    <% if @item.reviews.present? %>
      <% @item.reviews.each do |review| %>
      <div class="review-info">
        <p>
        <% (1..5).to_a.each do |star| %>
          <% if star <= review.rating %>
            <i class="fas fa-star" style="color: #ffb400;"></i>
          <% else %>
            <i class="fas fa-star" style="color: #ccc"></i>
          <% end %>
        <% end %> <br>
        <small><%= review.comment %></small><br>
        <small>by <%= review.booking.user.first_name %> on <%= review.created_at.strftime("%Y-%m-%d") %></small>
        <hr>
        </p>
      </div>
      <% end %>
    <% else %>
      <p><em>There are no reviews for this item.</em></p>
    <% end %>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>

</div>
