<div class="show-content">

  <div class="head-card">
    <div class="card-top">
      <div id="user-notif">
        <i class="fa-solid fa-bell"></i>
      </div>
      <div class="garage-info">
        <% if @user == current_user %>
          <h1>My Garage</h1>
        <% else %>
          <h1><%= @user.first_name %>'s Garage</h1>
        <% end %>

        <% if @user == current_user %>
          <p><strong>Token :</strong><%= current_user.tokens %></p>
        <% end %>
        <p><strong>About me </strong><%= current_user.description %></p>
      </div>

      <div class="user-avatar">
        <% if @user.photo.key %>
          <%=cl_image_tag @user.photo.key, crop: :crop%>
        <% else %>
          <img src="https://png.pngtree.com/png-vector/20190114/ourlarge/pngtree-vector-avatar-icon-png-image_313572.jpg">
        <% end %>
      </div>
    </div>

    <div class="card-bottom">
      <% if @user == current_user %>
        <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "button-yellow" %>
      <% end %>

      <div class="card-bottom-half">
        <div class="user-rating">

          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </div>
        <div id="user-description">
         <% if @user == current_user %>
          <p><strong><%= current_user.first_name %> <%= current_user.last_name %></strong></p>
        <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="user-action">
    <% if @user != current_user %>
      <%= link_to "REVIEW", "#", class: "button-yellow" %>
      <%= link_to "CHAT", (@chatroom.present? ? chatroom_path(@chatroom) : chatrooms_path(user_id:params[:id])) , class: "button-yellow", data:{turbo_method: (@chatroom.present? ? :get : :post)}   %>
    <% else %>
      <%= link_to "MY REVIEWS", "#", class: "button-yellow" %>
      <%= link_to "UPDATE", edit_user_registration_path(@user), class: "button-yellow" %>
      <% end %>
  </div>

  <div class="user-garage-container">
    <div class="user-garage">

        <div class="box-box">
          <img src="<%= image_url("tools.png")%>">
          <%= link_to 'Tools', user_showtool_path(user_id: @user.id, category: "Tools") %>
        </div>

        <div class="box-box">
          <img src="<%= image_url("sports.png")%>">
          <%= link_to 'Sports', user_showtool_path(user_id: @user.id, category: "Sports") %>
        </div>

        <div class="box-box">
          <img src="<%= image_url("shovel.png")%>">
          <%= link_to 'Garden', user_showtool_path(user_id: @user.id, category: "Garden") %>
        </div>

        <div class="box-box">
          <img src="<%= image_url("plug.png")%>" >
          <%= link_to 'Electronics', user_showtool_path(user_id: @user.id, category: "Electronics") %>
        </div>

        <div class="box-box">
          <img src="<%= image_url("painter.png")%>">
          <%= link_to 'Decoration', user_showtool_path(user_id: @user.id, category: "Decoration") %>
        </div>

        <div class="box-box">
          <img src="<%= image_url("console.png")%>">
          <%= link_to 'Gaming', user_showtool_path(user_id: @user.id, category: "Gaming") %>
        </div>

        <div class="box-box">
          <img src="<%= image_url("camping.png")%>">
          <%= link_to 'Camping', user_showtool_path(user_id: @user.id, category: "Camping") %>
        </div>

        <div class="box-box">
          <img src="<%= image_url("plantes-dinterieur.png")%>">
          <%= link_to 'Art', user_showtool_path(user_id: @user.id, category: "Arts\ &\ Crafts") %>
        </div>

        <div class="box-box">
          <img src="<%= image_url("ajouter.png")%>">
          <%= link_to 'Other', user_showtool_path(user_id: @user.id, category: "Other") %>
        </div>

      </div>
    </div>

  <div class="review-container">
    <h2><strong>Reviews</strong></h2>
    <% @items.each do |item| %>
    <% item.reviews.each do |review| %>
    <div class="review-info">
      <p>
      <span class="title-item-name"><%= link_to item.name, new_item_booking_path(item.id) %></span> <br>
      <strong>Rating: </strong><%= "â­" * review.rating %> <br>
      <strong>Comment: </strong><%= review.comment %>
      <hr>
      </p>
    </div>
    <% end %>
    <% end %>
    </div>

  </div>
</div>
