<div class="show-content", style= 'background-image: url(<%= image_url("Background.jpg")%>);background-size: 900px;'>

  <div class="head-card">
    <div class="card-top">
      <div id="user-notif">
        <i class="fa-solid fa-bell"></i>
      </div>
      <div class="garage-info">
        <% if @user = current_user %>
          <h1>My Garage</h1>
        <% else %>
          <h1><%= @user.first_name %>'s Garage</h1>
        <% end %>
        <p><strong>About me: </strong>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam aliquid veniam fugiat molestiae atque autem <%= current_user.description %></p>
      </div>

      <div class="user-avatar">
        <% if @user.profile_picture %>
          <img src="<%= @user.profile_picture %>">
        <% else %>
          <img src="https://png.pngtree.com/png-vector/20190114/ourlarge/pngtree-vector-avatar-icon-png-image_313572.jpg">
        <% end %>
      </div>
    </div>
    <div class="card-bottom">
      <div class="user-rating">
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>
      <div id="user-description">
        <p><strong><%= current_user.first_name %> <%= current_user.last_name %></strong></p>
      </div>
    </div>
  </div>

  <div class="user-action">
    <% if @user != current_user %>
      <%= link_to "REVIEW", "#", class: "button-large" %>
      <%= link_to "CHAT", "#", class: "button-large"  %>
    <% else %>
      <%= link_to "MY REVIEWS", "#", class: "button-large" %>
      <%= link_to "UPDATE", edit_user_registration_path(@user), class: "button-large" %>
      <% end %>
  </div>

  <div class="user-garage", style= 'background-image: url(<%= image_url("dotgrid.jpg")%>); background-size: 375px; '>
        <div class="box-box">
          <img src="<%= image_url("tools.png")%>">
          <p>Tools</p>
        </div>
        <div class="box-box">
          <img src="<%= image_url("sports.png")%>">
          <p>Sports</p>
        </div>

        <div class="box-box">
          <img src="<%= image_url("shovel.png")%>">
          <p>Garden</p>
        </div>

        <div class="box-box">
          <img src="<%= image_url("plug.png")%>" >
          <p>Electronics</p>
        </div>

        <div class="box-box">
          <img src="<%= image_url("painter.png")%>">
          <p>Decoration</p>
        </div>

        <div class="box-box">
          <img src="<%= image_url("console.png")%>">
          <p>Gaming</p>
        </div>

        <div class="box-box">
          <img src="<%= image_url("camping.png")%>">
          <p>Camping</p>
        </div>

        <div class="box-box">
          <img src="<%= image_url("plantes-dinterieur.png")%>">
          <p>Decoration</p>
        </div>

        <div class="box-box">
          <img src="<%= image_url("ajouter.png")%>">
          <p>Other</p>
        </div>

      </div>
  <div class="user-review">

<%# Tools Electronics Gaming Arts\ &\ Crafts Garden Decoration Sports Camping Other %>

  </div>
</div>
