<div class="navigation-bar-container">
  <div class="navigation-bar">
    <a href=<%=home_path%>><i class="fa-solid fa-house bigger-icon"></i></a>
    <a href=<%=items_path%>><i class="fa-solid fa-magnifying-glass bigger-icon"></i></a>
    <div class="bg-btn-add">
      <div class="btn-add-item">
        <a href=<%=new_user_item_path(:user_id)%>><i class="fa-solid fa-plus" style="color: white"></i></a>
      </div>
    </div>
    <a href=<%=home_path%>><i class="fa-solid fa-envelope bigger-icon"></i></a>
    <a href=<%= user_signed_in? ? user_path(current_user) : home_path %>><i class="fa-solid fa-user bigger-icon"></i></a>
  </div>
</div>
