
<%= simple_form_for [@user,@item] do |f| %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :category, collection: Item::CATEGORIES %>
    <%= f.input :description %>
    <%= f.input :condition, collection: Item::CONDITION %>
    <%= f.input :price %>
    <%= f.input :photo, as: :file %>
  </div>
  <div>
    <%= f.button :submit, class: "" %>
  </div>
<% end %>
</div>
