<div class="items-container">
  <%# search bar by items  %>
  <div class="container">
    <%= form_with url: items_path, method: :get, class: "sticky-search" do %>
    <i class="fa-solid fa-magnifying-glass icon-left icon-search"></i>
    <%= text_field_tag :query,
        params[:query],
        class: "margin-search",
        placeholder: ""%>
    <i class="fa-solid fa-list-ul icon-right icon-search"></i>
    <% end %>
  </div>

  <div class="item-container">
    <div class="item-card">
    <% @items.each do |item| %>
        <h3><%= link_to item.name, new_item_booking_path(item.id) %></h3>
        <%= item.condition %>
        <%# <span style="max-width: 70px"><%= item.description %>
        <img src='<%= "#{item.item_picture}" %>' style="width: 70px" alt='<%= "#{item.name}" %>'>
    <% end %>
    </div>
  </div>

</div>
