<h1>Items#index</h1>
<p>Find me in app/views/items/index.html.erb</p>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <%= form_with url: items_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find something to borrow"%>
      <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
      <div id="items">
        <% @items.each do |item| %>
            <h3><%= link_to item.name, item_path(item.id) %></h3>
            <%= item.condition %>
            <%= item.description %>
            <img src='<%= "#{item.item_picture}" %>' alt='<%= "#{item.name}" %>'>
        <% end %>
      </div>
    </div>
  </div>
</div>
