<div class="new-item-container">
  <h1 class=h1-item-form> Register your items here! </h1>
  <%= simple_form_for [@user,@item] do |f| %>
  <div class= "form-text">
    <%= f.input :name, input_html: {class: "input-items"}%>
    <%= f.input :category, collection: Item::CATEGORIES, input_html:{class: "input-items"}%>
    <%= f.input :condition, collection: Item::CONDITION, input_html:{class: "input-items"}%>
    <%= f.input :price, input_html: {class: "input-items"}%>
    <%= f.input :description, input_html: {class: "input-items"}%>
    <%= f.input :photo, as: :file, input_html: {class: "input-photo"}%>
  </div>
  <div>
    <%= f.button :submit, :"Add your item!", {class:"button-large-items"} %>
  </div>
<% end %>
