<!DOCTYPE html>
<html>
  <head>
    <title>Nearby</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/assets/application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/flashes" %>
    <%= yield %>
    <%= render partial: "shared/navigation_bar" unless current_page?(home_path) || devise_controller? %>
  </body>
</html>
